NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-key
NEXT_PUBLIC_IDENTITY_REGISTRY_ADDRESS=0xA8CF7e4431F686c14B24922Fd77c7712d8dB443d
NEXT_PUBLIC_TRUST_SCORE_ADDRESS=0xFA1d8AADfd0B0bDf95163639F92f98748CbA6EE2
NEXT_PUBLIC_VERIFICATION_MANAGER_ADDRESS=0x642CE985a191D7Db3c6b2244c1b7b1fBF7446aa4
NEXT_PUBLIC_ZK_PROOF_MANAGER_ADDRESS=0x955C277406bAFd63161883595a91A7c15FaFFE84
NEXT_PUBLIC_VERIFICATION_LOGGER_ADDRESS=0xC448566f13519081F95E8D4373d62C2ec026a65d
NEXT_PUBLIC_ORGANIZATION_MANAGER_ADDRESS=0x3946DD79d8300462F50316AbA1089041Dc1C591C
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs/
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your-walletconnect-project-id
NEXT_PUBLIC_GRAPHQL_ENDPOINT=
NEXT_PUBLIC_ZK_CIRCUITS_BASE_PATH=/circuits
NEXT_PUBLIC_ZK_CIRCUIT_FILES=age_check:public/circuits/age_check/circuit.wasm,public/circuits/age_check/circuit_final.zkey,public/circuits/age_check/verification_key.json;age_max_check:public/circuits/age_max_check/circuit.wasm,public/circuits/age_max_check/circuit_final.zkey,public/circuits/age_max_check/verification_key.json;attr_equals:public/circuits/attr_equals/circuit.wasm,public/circuits/attr_equals/circuit_final.zkey,public/circuits/attr_equals/verification_key.json;income_check:public/circuits/income_check/circuit.wasm,public/circuits/income_check/circuit_final.zkey,public/circuits/income_check/verification_key.json
